/*NAVBAR*/
.navbar {
    color: white;
}

.navbar-brand {
    color: white;
}

/*ICON AND TITLE*/
.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fa-wpexplorer {
    font-size: 2.5em;
    padding-right: 10px;
}

/*LOGIN AND REGISTRATION LINKS*/
.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
