.profile-container {
    background-image: url("https://cdn.mapsinternational.co.uk/pub/media/catalog/product/cache/9408c2af9b2aa1f0e92b23ce5de2be46/w/o/world-wall-map-political-without-flags_wm00001_h.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 800px;
    width: 100vw;
    overflow-x: hidden;
}

.profile-card {
    background-color: rgb(58, 134, 248);
    padding-left: 20px;
    padding-top: 10px;
    width: 500px;
    height: 380px;
    margin: 50px auto;
    border-radius: 15px;
    opacity: 0.8;
}

.profile-picture {
    position: relative;
    float: right;
    top: -30px;
    right: -50px;
    width: 160px;
    height: 120px;
    border-radius: 50px;
}

.label {
    margin-bottom: 25px;
}

.label:nth-last-child(1) {
    margin-bottom: 5px;
}
